body {
  background-color: snow;
  font-family: "Noto Sans JP", sans-serif;
}

.experience-list {
  display: flex;
  flex-wrap: wrap;
  /* width: 1200px; */
  justify-content: center;
}

.card-item {
  max-width: 230px;
  margin: 10px;
}

.title a {
  color: mediumaquamarine;
  text-transform: capitalize;
  font-size: 24px;
  transition: 0.5s;
  margin-bottom: 0px;
  line-height: 28px;
}

.title a:hover {
  text-decoration: none;
  color: lightgreen;
}

.price {
  font-weight: bold;
  font-size: 14px;
}

h3 {
  color: #333;
  font-weight: lighter;
  line-height: 1.4;
}

.country {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 5px;
}

/* https://w3bits.com/css-image-hover-zoom/ */
.img-hover-zoom {
  height: 320px;
  overflow: hidden;
  border-radius: 8px;
}

.img-hover-zoom--colorize img {
  transition: transform 0.5s, filter 1s ease-in-out;
  filter: grayscale(0);
  /* max-width: 100%; */
  vertical-align: middle;
  border-radius: 8px;
}

/* The Transformation */
.img-hover-zoom--colorize:hover img {
  filter: grayscale(100%);
  transform: scale(1.1);
}

.jumbotron {
  background-color: lightgray;
  background-image: url(https://images.pexels.com/photos/671956/pexels-photo-671956.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  /* padding: 50px; */
  height: 400px;
  border-radius: 0px !important;
}

.jumbotron-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20%;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-bottom: 1.5%;
}
/* 

.page-btn {
  background-color: transparent;
  border: 0;
  margin: 15px 0 25px;
  transition: 0.5s;
}

.page-btn:hover {
  color: mediumaquamarine;
  transition: 0.5s;
}

.page-btn:focus {
  outline: 0;
}

.page-btn:disabled {
  color: lightgrey;
} */

.MuiPaginationItem-page.Mui-selected {
  outline: 0;
}
